
/tmp

/.venv
/build
/state

log.html
output.xml
report.html

**/__pycache__
**/__pycache__/**/*
**/*.pyc
**/*cpython*

.coverage
htmlcov

/tools/

.coverage*

pytest_report.html

/assets/

/tmp

/node_modules
/docs/site

.mypy_cache
.pytest_cache
